ENV=
CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=

# Optional
AWS_PROFILE=
AWS_REGION=
DOMAIN_NAME=
MEDIA_SUBDOMAIN=media
API_SUBDOMAIN=api
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...

# Good practise to create these manually.
MEDIA_CERT_ARN="arn:aws:acm:us-east-1:xxxx"
API_CERT_ARN="arn:aws:acm:<AWS_REGION>:xxxxx"
